.taskContainer {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.tasksElements {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasksElements h3 {
    color: rgb(131, 127, 131);
}

.tasksElements button {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(11, 130, 209, 0.753);
    transition: 0.09s ease;
    color: white;
}

.tasksElements button:hover {
    background-color: #ffa1af;
    transition: 0.09s ease;

}

.tags {
    display: flex;
    gap: 10px;
}

.tags span{ 
    background-color: snow;
    color: grey;
    border-radius: 10px;
    padding: 0 5px;
}

