.table {
    width: 450px;
    height: auto;
    padding-bottom: 10px;
}

.table h2 {
    text-align: center;
    padding: 10px 0;
    color: rgb(0, 0, 0);
}

.buttonTable {
    margin-top: 10px;
    width: 200px;
    border: none;
    background-color: #d9e1fd;
    border-radius: 5px;
    color: #1e67ec;
    height: 30px;
    text-align: left;
}

.buttonTable:hover {
    background-color: #9fb2ec;
}

@media screen {
    
}