.tasksHeader {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 100px;
}

.headerButton {
    margin: auto 0;
    margin-right: 200px;
    height: 45px;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(73, 160, 241);
    color: white;
    font-size: 15px;
    transition: 0.09s ease;
}

.headerButton:hover {
    background-color: rgb(206, 39, 197);
    transition: 0.09s ease;
}

.headerImage {
    margin: auto 0;
    margin-left: 200px;
}

.headerImage img {
    width: 90px;
    height: 80px;
}